<!-- INCLUDECSS @pcgf_ajaxregistrationcheck/ajaxregistrationcheck.css -->
<div id="pcgf-ajaxregistrationcheck-username" class="inline"></div>
<div id="pcgf-ajaxregistrationcheck-email" class="inline"></div>
<div id="pcgf-ajaxregistrationcheck-password" class="inline"></div>
<div id="pcgf-ajaxregistrationcheck-confirm-password" class="inline"></div>
<script type="text/javascript">
    var pcgfAJAXRegistrationCheckLoading = '{LA_LOADING}...';
    var pcgfAJAXRegistrationCheckUsernameMin = '{PCGF_AJAXREGISTRATIONCHECK_USERNAME_MIN}';
    var pcgfAJAXRegistrationCheckUsernameMax = '{PCGF_AJAXREGISTRATIONCHECK_USERNAME_MAX}';
    var pcgfAJAXRegistrationCheckUsernameRule = "{PCGF_AJAXREGISTRATIONCHECK_USERNAME_RULE}";
    var pcgfAJAXRegistrationCheckUsernameInvalidBoundaries = '{PCGF_AJAXREGISTRATIONCHECK_USERNAME_INVALID_BOUNDARIES}';
    var pcgfAJAXRegistrationCheckUsernameCheckLink = '{PCGF_AJAXREGISTRATIONCHECK_CHECK_USERNAME_LINK}';
    var pcgfAJAXRegistrationCheckEMailRule = "{PCGF_AJAXREGISTRATIONCHECK_EMAIL_RULE}";
    var pcgfAJAXRegistrationCheckEMailInvalid = '{LA_PCGF_AJAXREGISTRATIONCHECK_EMAIL_INVALID}';
    var pcgfAJAXRegistrationCheckEMailCheckLink = '{PCGF_AJAXREGISTRATIONCHECK_CHECK_EMAIL_LINK}';
    var pcgfAJAXRegistrationCheckPasswordMin = '{PCGF_AJAXREGISTRATIONCHECK_PASSWORD_MIN}';
    var pcgfAJAXRegistrationCheckPasswordMax = '{PCGF_AJAXREGISTRATIONCHECK_PASSWORD_MAX}';
    var pcgfAJAXRegistrationCheckPasswordRule = "{PCGF_AJAXREGISTRATIONCHECK_PASSWORD_RULE}";
    var pcgfAJAXRegistrationCheckPasswordValid = '{LA_PCGF_AJAXREGISTRATIONCHECK_PASSWORD_OK}';
    var pcgfAJAXRegistrationCheckPasswordInvalid = '{PCGF_AJAXREGISTRATIONCHECK_PASSWORD_INVALID_BOUNDARIES}';
    var pcgfAJAXRegistrationCheckConfirmPasswordValid = '{LA_AJAXREGISTRATIONCHECK_CONFIRM_PASSWORD_OK}';
    var pcgfAJAXRegistrationCheckConfirmPasswordInvalid = '{LA_NEW_PASSWORD_ERROR}';
</script>
<!-- INCLUDEJS @pcgf_ajaxregistrationcheck/javascript/ajaxregistrationcheck.js -->