<!-- INCLUDECSS @pcgf_ajaxregistrationcheck/ajaxregistrationcheck.css -->
<div id="pcgf-ajaxregistrationcheck-username" class="inline"></div>
<div id="pcgf-ajaxregistrationcheck-email" class="inline"></div>
<div id="pcgf-ajaxregistrationcheck-password" class="inline"></div>
<div id="pcgf-ajaxregistrationcheck-confirm-password" class="inline"></div>
<script type="text/javascript">
    var pcgfAJAXRegistrationCheckLoading = '{LA_LOADING}...';
    var pcgfAJAXRegistrationCheckUsernameMin = '{PCGF_AJAXREGISTRATIONCHECK_USERNAME_MIN}';
    var pcgfAJAXRegistrationCheckUsernameMax = '{PCGF_AJAXREGISTRATIONCHECK_USERNAME_MAX}';
    var pcgfAJAXRegistrationCheckUsernameRule = '{PCGF_AJAXREGISTRATIONCHECK_USERNAME_RULE}';
    var pcgfAJAXRegistrationCheckUsernameInvalidBoundaries = '{PCGF_AJAXREGISTRATIONCHECK_USERNAME_INVALID_BOUNDARIES}';
    var pcgfAJAXRegistrationCheckUsernameCheckLink = '{PCGF_AJAXREGISTRATIONCHECK_CHECK_USERNAME_LINK}';
</script>
<!-- INCLUDEJS @pcgf_ajaxregistrationcheck/javascript/ajaxregistrationcheck.js -->